extends layout

block content
    h1 Let's create new Author!
    form(action="newAuthor", method="get")
        label(for="name")
            input#name(type="text", name="newAuthor")
        input(type="submit", value="Create")